.mat-dialog-actions {
  padding-left: 40px;
}

.mdc-dialog__actions {
  padding-left: 20px;
}

h2 {
  padding-left: 20px;
  padding-top: 20px;
}

// .dialog-container {
//   position: relative;
//   mat-progress-bar {
//     position: absolute;
//     left: -24px;
//     right: -24px;
//     top: -24px;
//     width: calc(100% + 48px);
//   }
// }
