<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      @for(user of users; track user){
      <tr [routerLink]="['/user/' + user.id]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.street }}</td>
        <td>{{ user.city }}</td>
      </tr>
      }
    </table></mat-card-content
  >
</mat-card>

<button
  (click)="openDialog()"
  matTooltip="Add user"
  class="add-user-btn"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
>
  <mat-icon>add</mat-icon>
</button>
